@page "/room/{roomId}"
@inherits GameRoomBase


    <div class="boggle-container row">
        <div class="gameboard col-md-9">
            <p>Hello @username. You are in room @room?.Name</p><br />
            <p>@message</p><br />
            @if(room?.GameStatus != BoggleApp.Shared.Enums.RoomStatus.Initialized)
            {
                <p>New game starting in:</p>
            }
            <p>@time</p>

            <BoggleBoard @ref="BoggleBoard" RoomId="@RoomId"></BoggleBoard>


            <br />

            <button class="button button-primary" type="button" @onclick="async() => await Shuffle()">Shuffle</button>
        </div>
        <div class="infoboard col-md-3">
        <p>Users currently in room:</p>
        @foreach(var user in usersInGroup)
        {
             <div>@user.Username</div>
        }
    </div>
    </div>


@code
{
}