@page "/"
@inherits IndexBase

    <div class="d-flex justify-content-center">
        <form class="form-signin col-md-4">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                 width="72" height="72" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
            @if (!alreadyAssigned)
            {
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputUsername" class="mb-2 sr-only">Uername</label>
                <input type="text" id="inputUsername"
                       class="mb-2 form-control" placeholder="Username" required="" autofocus="" autocomplete="off"
                       @bind="@Username"
                       @bind:event="oninput">
            }
            else
            {
                <h1 class="h3 mb-3 font-weight-normal">Hello @user?.Username</h1>
            }

        <div class="d-flex justify-content-center">
                <select class="mb-2 mr-2 form-control" @bind="@SelectedRoom" disabled="@isRoomselectionDisabled">
                    <option value="-1">Select room</option>
                    @if (rooms != null)
                    {
                        @foreach (var r in rooms)
                        {
                            <option value="@r.Id">@r.Name</option>
                        }
                    }
                </select>

            <button  type="button" class="btn btn-sm btn-outline-primary" style="height:fit-content" @onclick="async() => await InitializeRooms()">
                <span class="oi oi-reload" aria-hidden="true" style="margin-top:7px;"></span>
            </button>
        </div>

            <p class="mb-2 font-weight-normal" style="text-align:center">or create new</p>
            <label for="inputNewRoom" class="mb-2 sr-only">Uername</label>
            <input type="text" id="inputNewRoom"
                   class="mb-2 form-control" placeholder="Room name" autocomplete="off"
                   @bind="@NewRoom"
                   @bind:event="oninput">

            <button class="btn btn-lg btn-success btn-block" type="button"
                    @onclick="JoinGame" disabled="@isJoinRoomButtonDisabled">Join game</button>
        </form>
     </div>
